body{
	width: 100vw;
	height:100vh;
	margin: 0;
	background-color: #CEECF2;
	font-family: sans-serif;
	flex-direction: column;
	display: flex;
	align-items: center;
	font-family: sans-serif;

}
nav{
	background-color: #24B9D4;
	border-radius: 10px;
	height: 12%;
	width: 80%;
	margin-top: 1%
}
h2{
	margin: 2px;
}
.menuCSS3{
	color: red !important; 
	font-size: 3em !important;
}
.menuCSS3 ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
		justify-content: center;
		
	}
	.menuCSS3 a {
		display: block;
		padding: 2em;
		background-color: #24B9D4;
		text-decoration: none;
		color: #191C26;
		border-radius: 10px;
	}
	.menuCSS3 a:hover {
		background-color: #CC673B;
	}
	.menuCSS3 ul li ul {
		display: none;
	}
	.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
		display: block;
	}

	.container{
		margin-top: 1%;
		width: 80%;
		height:80%;
		background-color: #ebfcff;
		position: relative;
		display: inline-block;
		border-radius: 10px;
		border: #919189 5px solid;
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: 1em;
		overflow: scroll;
	}
	.container2{
		margin-top: 1%;
		width: 80%;
		height:80%;
		background-color: #ebfcff;
		border-radius: 10px;
		border: #919189 5px solid;
		font-size: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: scroll;
		background-color: red;
	}
	.mitad{
		width: 100%;
		display: inline-flex;
		justify-content: center;
	}
	.registro {
		width: 45%;
		height: 75%;
		border: #919189 5px solid;
	}



	#acomodo{
		width: 100%;
	}
	
	.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin: 30px;

}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}
.columna{
	margin-top: 3%;
	display: flex;
	justify-content: space-between;
}
.sele{
	height: 25px;
	width: 255px;
	margin-top: 2%;
}

.proveedores{
	width: 48%;
	height: 25%;
	background-color: gray;
	border-radius: 10px;
	overflow: scroll;
	font-size: 0.5em;
	justify-content: center;
	
}
.proveedore{
	width: 48%;
	height: 200px;
	background-color: #CEECF2;
	overflow: scroll;
	display: none;
	font-size: 0.8em;
}
#proveedor2{
	display: none;
}
.mostrar_ocultar{
	width: 40%;
}
.ocultar{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48%;
}
.botones{
	margin: 5px;
}
.input{
	width: 47%;
}
.ttable{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 95%;
}
.ttable2{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 600px;
}

th, td{
	border: solid 1px black;
	padding: 0;
	padding: 2%;
}
thead{
	background-color: #246355;
	color: white;
	border-bottom: solid 5px #0f362d;
}
tr:nth-child(even){
	background-color: #ddd;
}