body{
	width: 100%;
	height:100%;
	margin: 0;
	background-color: #F5F4DC;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}
.cuadro{
	width: 600px;
	height: 400px;
	background-color: #97A2A8;
	margin-top: 30vh;
	border-radius: 30px;
	/*Sombra del cuadro*/
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	justify-content: center;
	display: flex;
	position: absolute;
	margin-top: 62%;

}
header{
	display: flex;
	justify-content: center;
	align-items: center;
}

.user{
	height: 40px;
	width: 250px;
	top: 25%;
	position: absolute;

	border-radius: 5px;
	 border: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.pass{
	height: 40px;
	width: 250px;
	top: 50%;
	position: absolute;


	border-radius: 5px;
	 border: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}


.botones{
	margin-top: 45%;
	position: absolute;
}


.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin: 30px;

}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}
img{
	max-height: 200px;
	margin-top: 25px;
	position: absolute;
	margin-top: 10%;
}

.conteiner{
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	display: flex;
}
.registro{
	width: 70%;
	height: 80%;
	background-color: #97A2A8;
	border-radius: 30px;
	/*Sombra del cuadro*/
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	justify-content: center;
	display: flex;
	position: absolute;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.registro{
	justify-content: center;
	display: flex;
}

.formulario{
	margin-top: 10%;
}

#calendar{
	width: 155px;

}
.titulo{
	font-size: 4em;
	text-transform: uppercase;
	font-size: bold;
	margin-top: 2%;
	position: absolute;
}
select{
width: 160px;
}
.menu_img{
	margin-top: 1%;
	max-height: 150px;
}
.menu{
	width: 70%;
	height: 80%;
	background-color: #97A2A8;
	border-radius: 30px;
	/*Sombra del cuadro*/
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	justify-content: center;
	display: flex;
	position: absolute;
}
.manu_tabla{
	position: relative;
	background-color: red;
	border: 1;
}

.boton_menu{
	margin: 3% auto;
	border: none;
	cursor: pointer;
	border: 2px;
	border-color: black;
}
.menu1{
	margin-top: 17%;
	width: 80%;
	height: auto;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.menu2{
	width: 80%;
	height: auto;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
.contenedor_menu{
	width: 90%;
	display: inline-block;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;	
}
.proveedores{
	width: 600px;
	height: 300px;
	background-color: red;
}
.cuadro3{
	width: 250px;
	height:100%;
}
